#include <windows.h>
#include "resource.h"
#pragma code_page(65001)

IDD_MAIN_DIALOG DIALOGEX 0, 0, 520, 300
STYLE DS_SETFONT | WS_BORDER | WS_MINIMIZEBOX | WS_CAPTION | WS_SYSMENU
CAPTION "AT Helper"
FONT 9, "微软雅黑"
BEGIN
    LTEXT           "串口", IDC_STATIC, 6, 8, 28, 10
    COMBOBOX        IDC_COMBO_PORT, 34, 6, 90, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "波特率", IDC_STATIC, 130, 8, 32, 10
    COMBOBOX        IDC_COMBO_BAUD, 170, 6, 70, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "连接", IDC_BUTTON_CONNECT, 250, 6, 50, 14, BS_FLAT
    LTEXT           "未连接", IDC_STATUS_TEXT, 310, 8, 110, 10, SS_LEFT
    LTEXT           "主题", IDC_STATIC, 425, 8, 24, 10
    COMBOBOX        IDC_COMBO_THEME, 455, 6, 60, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "刷新指令", IDC_BUTTON_RELOAD, 6, 30, 80, 14, BS_FLAT
    PUSHBUTTON      "清空日志", IDC_BUTTON_CLEAR_LOG, 90, 30, 80, 14, BS_FLAT

    LISTBOX         IDC_COMMAND_LIST, 6, 50, 150, 210, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP | WS_BORDER
    CONTROL         "", IDC_EDIT_LOG, "RICHEDIT50W", ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL | WS_BORDER | WS_TABSTOP, 160, 50, 340, 180

    EDITTEXT        IDC_EDIT_COMMAND, 160, 235, 270, 14, ES_AUTOHSCROLL | WS_BORDER
    PUSHBUTTON      "发送指令", IDC_BUTTON_SEND_COMMAND, 435, 233, 65, 16, BS_FLAT

    LTEXT           "短信号码", IDC_STATIC, 160, 257, 45, 10
    EDITTEXT        IDC_EDIT_SMS_NUMBER, 210, 255, 220, 14, ES_AUTOHSCROLL | WS_BORDER
    LTEXT           "短信内容", IDC_STATIC, 160, 279, 45, 10
    EDITTEXT        IDC_EDIT_SMS_TEXT, 210, 277, 220, 14, ES_AUTOHSCROLL | WS_BORDER
    PUSHBUTTON      "发送短信", IDC_BUTTON_SEND_SMS, 435, 275, 65, 16, BS_FLAT
END
