#include <windows.h>
#include "resource.h"
#pragma code_page(65001)

IDD_MAIN_DIALOG DIALOGEX 0, 0, 520, 280
STYLE DS_SETFONT | WS_BORDER | WS_MINIMIZEBOX | WS_CAPTION | WS_SYSMENU
CAPTION "AT Helper"
FONT 10, "微软雅黑"
BEGIN
    LTEXT           "串口", IDC_STATIC, 8, 8, 26, 10
    COMBOBOX        IDC_COMBO_PORT, 36, 6, 82, 110, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "波特率", IDC_STATIC, 122, 8, 36, 10
    COMBOBOX        IDC_COMBO_BAUD, 160, 6, 70, 110, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "连接", IDC_BUTTON_CONNECT, 236, 6, 56, 14, BS_OWNERDRAW | WS_TABSTOP
    LTEXT           "未连接", IDC_STATUS_TEXT, 300, 8, 120, 10, SS_LEFT
    LTEXT           "主题", IDC_STATIC, 398, 8, 24, 10
    COMBOBOX        IDC_COMBO_THEME, 428, 6, 70, 110, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "清空日志", IDC_BUTTON_CLEAR_LOG, 8, 30, 74, 14, BS_OWNERDRAW | WS_TABSTOP

    LISTBOX         IDC_COMMAND_LIST, 8, 48, 150, 168, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP | WS_BORDER
    CONTROL         "", IDC_EDIT_LOG, "RICHEDIT50W", ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL | WS_BORDER | WS_TABSTOP, 164, 48, 344, 168

    EDITTEXT        IDC_EDIT_COMMAND, 164, 224, 260, 13, ES_AUTOHSCROLL | WS_BORDER
    PUSHBUTTON      "发送指令", IDC_BUTTON_SEND_COMMAND, 430, 222, 66, 15, BS_OWNERDRAW | WS_TABSTOP

    LTEXT           "短信号码", IDC_STATIC, 164, 244, 45, 9
    EDITTEXT        IDC_EDIT_SMS_NUMBER, 210, 242, 204, 13, ES_AUTOHSCROLL | WS_BORDER
    LTEXT           "短信内容", IDC_STATIC, 164, 260, 45, 9
    EDITTEXT        IDC_EDIT_SMS_TEXT, 210, 258, 204, 13, ES_AUTOHSCROLL | WS_BORDER
    PUSHBUTTON      "发送短信", IDC_BUTTON_SEND_SMS, 420, 256, 72, 15, BS_OWNERDRAW | WS_TABSTOP
END
